<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proyecto_pedro_portillo.Properties.Settings.nc" connectionString="Data Source=LAPTOP-BTUTTR2R\SQLEXPRESS;Initial Catalog=asistenciaDocente;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>